*-debug.log
*-error.log
/.nyc_output
package-lock.json
/yarn.lock
/tmp
.idea/
result.json
/helper.js
/string.txt
result-*.json
exports/
node_modules
lerna-debug.log
.rpt2_cache
/dist
docs/.vuepress/dist/
