*-debug.log
*-error.log
/.nyc_output
/dist
/lib
package-lock.json
/yarn.lock
/tmp
.idea/
result.json
/helper.js
/string.txt
result-*.json
exports/
node_modules
lerna-debug.log
.rpt2_cache
packages/*/dist
/docs
