$accentColor = #426572
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-default-content:not(.custom) {
  max-width: 840px;
  padding: 2rem 0;
}

.page-nav,
.page-edit {
  max-width: 840px;
  padding-left: 0;
  padding-right: 0;
}
